
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cinzel+Decorative:wght@900&family=Major+Mono+Display&family=Montserrat+Subrayada&family=Rubik:ital,wght@1,300;1,400;1,900&family=Staatliches&display=swap');

/* hero url */
.hero-body {
background: url("../images/space.jpg") center;
    background-size: cover;
}

/* fonts of different elements */
body {
    font-family: "bungee shade";
}

#font-style {
    font-family: "Montserrat Subrayada";
}

#adviceResult, #factResult, #chuckNorrisResult, #excuseResult{
    font-family: "Rubik";
}

footer{
    font-family: "Rubik";
}

